<h1>Welcome to HowToManageDrugsOnline !</h1>
<mat-divider></mat-divider>
<div align="center">
  <p>

    You can add, edit and delete Patients.
    <br/>
    You can manage treatments and drugs of each Patient.
  </p>

  <a mat-raised-button color="accent" routerLink="/patient">Patients</a>
</div>
<mat-divider></mat-divider>
<div align="center">
  <p>

    You can add, edit and delete Doctors.
    <br/>
    Be careful, if you delete a doctor, each treatment associated with this doctor will be deleted.
  </p>
  <a mat-raised-button color="primary" routerLink="/doctor">Doctors</a>
</div>s
<mat-divider></mat-divider>
<div align="center">
  <p>

    You can add, edit and delete Drugs.
    <br/>
    Be careful, if you delete a drug, this drug will be deleted from patients too.
  </p>
  <a mat-raised-button color="warn" routerLink="/drug">Drugs</a>
</div>
<mat-divider></mat-divider>
